* {
  box-sizing: border-box;
  font-family: Lato, serif;
}

.test1 {
  transition: 1s ease-in-out;
  max-height: 0;
  overflow: hidden;
  color: transparent;
}

.test2 {
  transition: 1s ease-in-out;
  max-height: 20rem;
  overflow: hidden;
}

.transition-ease-in-out-1 {
  transition: 1s ease-in-out;
}
